/* About Section */
section#about {
    background-color: var(--bg-light);
    color: #0F0326;
    text-align: center;
    font-size: 18px; 
}
section#about h2 {
    font-size: 32px;
    margin-bottom: 25px;
    color: var(--primary);
}

section#about p {
line-height: 1.8em;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
}