/* Certificates Section & Carousel */
section#Certificates {
    background-color: var(--bg-light);
    border: none;
    text-align: center;
    overflow: hidden;
}
section#Certificates h2 {
    color: var(--primary);
    margin-bottom: 40px;
    font-size: 32px;
}
section#Certificates h1 {
    color: var(--primary);
    margin-bottom: 25px;
}

/* CHANGED: Added Flexbox to the UL */
section#Certificates ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to next line */
    justify-content: center; /* Centers items */
    gap: 20px; /* Space between cards */
}


section#Certificates ul li h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #0F0326;
    min-height: 50px; /* Ensures titles align even if one is longer */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cert-treadmill{
    overflow: hidden;
    width: 100%;
    position: relative;
}
.cert-track{
    display: flex;
    gap: 30px;
    width: max-content;
    animation: treadmill 40s linear infinite;
}
.cert-treadmill:hover .cert-track{
    animation-play-state: paused;
}
.cert-card{
    min-width:320px;
    max-width: 320px;
    background-color:var(--card-light) ;
    border: 1px solid var(--primary);
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 8px 20px rgba(15,3,38,0.15);
    transition: transform 0.3s ease,box-shadow 0.35s ease;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cert-card:hover{
    transform:scale(1.05);
    box-shadow: 0 14px 30px rgba(15,3,38,0.25);
}
.cert-card h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--secondary);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cert-card p {
    font-size: 14px;
    margin: 8px 0;
    color: #555;
}


/* Certificate Images */
.imager1 {
   width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease;
}
@keyframes treadmill{
    from{transform: translateX(0);}to{transform:translateX(-50%);}
}
.imager1:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.imager2 {
    width: 100%; /* Changed from fixed 400px to 100% to fit the card */
    max-width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    display: block;
    transition: transform 0.3s ease;
}

.imager2:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.imager3 {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    display: block;
    transition: transform 0.3s ease;
}