/* Navigation Bar & Hamburger Menu */
nav#navbar { 
     background-color: var(--primary);
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
 }

.nav-container { 
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
 }

.hamburger { 
display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;

 }
.hamburger span { 
    width: 25px;
    height: 3px;
    background-color: var(--accent);
    margin: 3px 0;
    transition: 0.3s;
    border-radius: 2px;
 }
.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

nav#navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav#navbar ul li {
    display: inline-block;
    padding: 5px 15px; 
    margin: 0 5px;     
    border-radius: 6px;
    transition: all 0.3s ease;
}

nav#navbar ul li a {
    color: #B5D99C;
    font-family: sans-serif;
    font-size: 14px; 
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-transform: uppercase; 
}

nav#navbar ul li:hover {
    background-color: var(--accent);
    transform: translateY(-2px);
    cursor: pointer;
}

nav#navbar ul li:hover a {
    color: #0F0326 !important; /* Force dark text on yellow background */
    font-weight: 800; /* Make it bolder for readability */
}
nav#navbar ul li.active {
    background-color: var(--accent);
    transform: translateY(-2px);
    box-shadow: 0 0 10px #FFFF82;
}

nav#navbar ul li.active a {
    color: #0F0326;
}